#about-us-container {
    display: flex;
    flex-direction: row;
    background-image: url("/images/about-us-background.jpg");
    padding-left: 50px;
    padding-right: 50px;

    .wrapper {
        display: flex;
        margin-top: 30px;
        margin-left: 60px;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-right: 60px;
        margin-bottom: 30px;

        .title-container {
            width: 30%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;

            .title {
                font-size: 120px;
                margin-top: 20px;
                margin-bottom: 20px;
                color: #0f0d0d;
                transform: rotate(-90deg);
                margin-right: -100px;
            }
        }

        .description-container {
            width: 70%;

            .description {
                font-size: 20px;
            }
        }
    }

    @media only screen and (max-width: 991px) {
        flex-direction: column;
        padding: 0px;

        .wrapper {
            flex-direction: column;
            margin: 0px;
            padding: 0px !important;
            margin-left: 7.5%;
            margin-right: 7.5%;

            .title-container {
                width: 100%;
                justify-content: start;
                .title {
                    transform: none;
                    font-size: 40px;
                    margin-right: 0px;
                }
            }

            .description-container {
                width: 100%;
            }
        }
    }
}
