#carousel-container {
    background-color: white;

    height: 700px;

    .MuiPaper-root {
        box-shadow: none;
    }

    .css-1m9128y {
        margin-top: 0px;
        button.MuiButtonBase-root {
            width: 40px;
            height: 40px;
        }
    }

    .carousel-image {
        height: 650px;
        width: 100%;
    }

    .carousel-text-img-container {
        position: relative;
        text-align: center;

        span.carousel-text {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 55px;
            color: white;
            font-weight: 300;
        }
    }

    @media only screen and (max-width: 991px) {
        height: 400px;

        .carousel-image {
            height: 350px;
            width: 100%;
        }

        .carousel-text {
            display: none;
        }
    }
}
