#carousel-container {
    background-color: white;

    height: 700px;

    .css-1ps6pg7-MuiPaper-root {
        box-shadow: none;
    }

    .css-1m9128y {
        margin-top: 0px;
        button.MuiButtonBase-root {
            width: 40px;
            height: 40px;
        }
    }

    .carousel-image {
        height: 650px;
        width: 100%;
    }


    @media only screen and (max-width: 991px) {
        height: 400px;

        .carousel-image {
            height: 350px;
            width: 100%;
        }
    }
}
