#carousel-container {
    background-color: white;

    height: 700px;

    .css-1ps6pg7-MuiPaper-root {
        box-shadow: none;
    }

    .css-1m9128y {
        margin-top: 0px;
        button.MuiButtonBase-root {
            width: 40px;
            height: 40px;
        }
    }

    .carousel-image {
        height: 650px;
        width: 100%;
    }

    .carousel-text {
        position: absolute;
        top: 80%;
        right: 34%;
        font-size: 60px;
        z-index: 1000;
        color: white;
        font-weight: 400;
    }

    @media only screen and (max-width: 1600) {

        .carousel-text {
            right: 32%;
        }
    }

    @media only screen and (max-width: 1300) {

        .carousel-text {
            right: 29%;
        }
    }

    @media only screen and (max-width: 1000) {

        .carousel-text {
            right: 20%;
        }
    }

    @media only screen and (max-width: 991px) {
        height: 400px;

        .carousel-image {
            height: 350px;
            width: 100%;
        }

        .carousel-text {
            display: none;
        }
    }
}
