#contact-us-data-container {
    display: flex;
    flex-direction: row;
    justify-content: start;

    .title {
        font-size: 18px !important;
        color: black;
        font-weight: bold;
    }

    .column {
        display: flex;
        flex-direction: column;

        span {
            font-size: 16px !important;
            color: black;

            &.contact {
                margin-top: 10px;
                display: flex;
                align-items: center;
            }

            &.mobile {
                margin-top: 40px;
            }


            img {
                width: 15px;
                height: 15px;
                margin-right: 10px;
            }
        }
    }

    .second {
        margin-left: 50px;
    }
}
