.loader {
    position: fixed !important;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: .5);
    z-index: 100000;

    .linear-loader {
        .MuiLinearProgress-bar {
            background-color: #0a1d94 !important;
        }
    }

    .circular-loader {
        @extend .flex-center-align-center;
        height: 100%;
        .MuiCircularProgress-svg {
            color: #b5d5e6 !important;
        }
    }
}