body {
  margin: 0 !important;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #f7f5f5 !important;
}

a {
  text-decoration: none;
  font-size: 14px;
}

p {
  font-size: 14px;
}

#root {
  width: 100%;
  height: 100%;
}

#main-container {
  width: 100vw;
}

.flex-row, #header .header-nav-container, .flex-end, .flex-center-align-center, .flex-align-center, .flex-space-between, #header, .flex-space-between-align-center {
  display: flex;
  flex-direction: row;
}

.flex-center, #root {
  display: flex;
  justify-content: center;
}

.flex-space-between-align-center {
  justify-content: space-between;
  align-items: center;
}

.flex-space-between, #header {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.flex-center-align-center {
  justify-content: center;
  align-items: center;
}

.flex-column-center {
  justify-content: center;
}

.flex-column-center-align-center {
  justify-content: center;
  align-items: center;
}

.flex-column-aligin-center {
  align-items: center;
}

.flex-column, .flex-column-end, #main-container, .flex-column-center, .flex-column-center-align-center, .flex-column-aligin-center {
  display: flex;
  flex-direction: column;
}

.flex-end {
  justify-content: end;
}

.flex-column-end {
  justify-content: end;
}

#header {
  background-color: #d0d5db;
  height: 150px;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}
#header .header-logo-container {
  width: 50%;
  display: flex;
  flex-direction: row;
}
#header .header-logo-container .logo {
  width: 350px;
  height: 200px;
}
#header .header-nav-container {
  width: 50%;
}
#header .header-nav-container .empty {
  width: 30%;
}
#header .header-nav-container span {
  cursor: pointer;
  font-size: 20px;
  margin-right: 40px;
  display: inline-block;
  position: relative;
}
#header .header-nav-container span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0f70b7;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#header .header-nav-container span:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
@media only screen and (max-width: 991px) {
  #header {
    padding: 0px;
  }
  #header .header-logo-container {
    width: 80%;
  }
  #header .header-logo-container .logo {
    width: 100%;
    height: 100%;
  }
  #header .header-nav-container {
    display: none;
  }
}

#carousel-container {
  background-color: white;
  height: 700px;
}
#carousel-container .css-1ps6pg7-MuiPaper-root {
  box-shadow: none;
}
#carousel-container .css-1m9128y {
  margin-top: 0px;
}
#carousel-container .css-1m9128y button.MuiButtonBase-root {
  width: 40px;
  height: 40px;
}
#carousel-container .carousel-image {
  height: 650px;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  #carousel-container {
    height: 400px;
  }
  #carousel-container .carousel-image {
    height: 350px;
    width: 100%;
  }
}

#about-us-container {
  display: flex;
  flex-direction: row;
  background-image: url("/images/about-us-background.jpg");
  padding-left: 50px;
  padding-right: 50px;
}
#about-us-container .wrapper {
  display: flex;
  margin-top: 30px;
  margin-left: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 60px;
  margin-bottom: 30px;
}
#about-us-container .wrapper .title-container {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}
#about-us-container .wrapper .title-container .title {
  font-size: 120px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #0f0d0d;
  transform: rotate(-90deg);
  margin-right: -100px;
}
#about-us-container .wrapper .description-container {
  width: 70%;
}
#about-us-container .wrapper .description-container .description {
  font-size: 20px;
}
@media only screen and (max-width: 991px) {
  #about-us-container {
    flex-direction: column;
    padding: 0px;
  }
  #about-us-container .wrapper {
    flex-direction: column;
    margin: 0px;
    padding: 0px !important;
    margin-left: 7.5%;
    margin-right: 7.5%;
  }
  #about-us-container .wrapper .title-container {
    width: 100%;
    justify-content: start;
  }
  #about-us-container .wrapper .title-container .title {
    transform: none;
    font-size: 40px;
    margin-right: 0px;
  }
  #about-us-container .wrapper .description-container {
    width: 100%;
  }
}

#team {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#team span.title {
  font-size: 50px;
  margin-top: 40px;
  color: #0f0d0d;
}
#team .team-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px !important;
  margin-right: 60px;
  padding: 80px;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
@media only screen and (max-width: 991px) {
  #team {
    align-items: flex-start;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  #team span.title {
    font-size: 40px;
    margin-top: 20px;
  }
  #team .team-container {
    margin: 0px !important;
    padding: 0px;
  }
}

#card-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  max-width: 400px;
  height: 400px;
  align-items: center;
  perspective: 1000px;
  margin: 5px;
}
#card-container .card-inner {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.4s;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
}
#card-container .card-inner .card-front img {
  width: 320px;
  height: 320px;
}
#card-container .card-inner .card-front,
#card-container .card-inner .card-back {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
}
#card-container .card-inner .card-back {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.08);
  opacity: 1;
  backface-visibility: hidden;
  max-height: 300px;
  height: auto;
  width: 300px;
  max-width: 400px;
  font-size: 18px;
  padding: 15px;
  background-color: white;
  transform: rotateY(180deg);
}
#card-container .card-inner .card-back span {
  overflow-y: hidden;
}
#card-container .card-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#card-container .card-name span.name {
  font-size: 1.25rem;
  font-weight: bold;
}
#card-container .card-name span.position {
  font-size: 1.125rem;
}
#card-container .card-name span.link {
  color: #0a1d94;
  cursor: pointer;
  font-size: 20px;
}
@media only screen and (max-width: 991px) {
  #card-container {
    width: 70%;
    max-width: 70%;
    height: 320px;
    perspective: 320px;
  }
  #card-container .card-inner .card-front img {
    width: 200px;
    height: 200px;
  }
  #card-container .card-inner .card-back {
    width: 200px;
    max-width: 100%;
  }
}

#card-container:hover .card-inner {
  transform: rotateY(180deg) translateZ(-1px);
}

#contact-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  padding-bottom: 50px;
  background-color: white;
}
#contact-us-container span.title {
  font-size: 50px;
  margin-top: 40px;
  color: #0f0d0d;
}
#contact-us-container .card-box-section {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
#contact-us-container .contact-us-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 70px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
#contact-us-container .contact-us-section .form-container {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 50px;
}
#contact-us-container .contact-us-section .form-container .subtitle {
  margin-top: 10px;
  font-size: 17px;
}
#contact-us-container .contact-us-section .form-container .contact-us-form-container {
  margin-top: 10px;
}
#contact-us-container .contact-us-section .map-container {
  margin-right: 100px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  #contact-us-container {
    width: 100%;
  }
  #contact-us-container span.title {
    font-size: 40px;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  #contact-us-container .card-box-section {
    display: none;
  }
  #contact-us-container .contact-us-section {
    flex-direction: column;
    margin-top: 20px;
    align-items: flex-start;
  }
  #contact-us-container .contact-us-section .form-container {
    width: 100%;
    margin-right: 0px;
  }
  #contact-us-container .contact-us-section .form-container .subtitle {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  #contact-us-container .contact-us-section .form-container #contact-us-data-container {
    flex-direction: column;
  }
  #contact-us-container .contact-us-section .form-container #contact-us-data-container .data {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  #contact-us-container .contact-us-section .form-container #contact-us-data-container .second {
    margin-left: 0px;
  }
  #contact-us-container .contact-us-section .form-container #contact-us-form {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  #contact-us-container .contact-us-section .map-container {
    margin-top: 20px;
    margin-right: 0px !important;
  }
  #contact-us-container .contact-us-section .map-container > div:first-of-type {
    width: 320px !important;
    height: 320px !important;
  }
}

#contact-us-card-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  height: 170px;
  padding-top: 15px;
  padding-left: 15px;
  border: 1px solid #d8e0e3;
}
#contact-us-card-container span.title {
  font-size: 30px;
  margin-top: 10px;
}
#contact-us-card-container span.subtitle {
  margin-bottom: -40px;
  margin-top: 10px;
  font-size: 15px;
  color: #898d8f;
}
#contact-us-card-container img {
  width: 40px;
  height: 40px;
}

.submit-btn {
  border-radius: 10px !important;
  padding: 10px !important;
  min-width: 100px !important;
  min-height: 50px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
  background-color: #6db2e0 !important;
  color: white !important;
  margin-top: 10px !important;
}

#contact-us-data-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
#contact-us-data-container .title {
  font-size: 18px !important;
  color: black;
  font-weight: bold;
}
#contact-us-data-container .column {
  display: flex;
  flex-direction: column;
}
#contact-us-data-container .column span {
  font-size: 16px !important;
  color: black;
}
#contact-us-data-container .column span.mobile {
  margin-top: 40px;
}
#contact-us-data-container .second {
  margin-left: 50px;
}

#portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
}
#portfolio-container .title {
  font-size: 48px !important;
  color: black;
  font-weight: bold;
}
#portfolio-container .subtitle {
  margin-top: 20px;
  font-size: 18px !important;
  text-align: center;
  color: #878584;
}
#portfolio-container .projects {
  width: 100%;
}
#portfolio-container .contact-us-section {
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}
#portfolio-container .contact-us-section .contact {
  font-size: 25px;
}
#portfolio-container .contact-us-section .contact.first {
  margin-top: 80px;
}
#portfolio-container .contact-us-section .submit-btn {
  margin-top: 20px !important;
}
@media only screen and (max-width: 991px) {
  #portfolio-container .title {
    font-size: 40px !important;
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  #portfolio-container .subtitle {
    padding-left: 7.5%;
    padding-right: 7.5%;
    text-align: start;
  }
  #portfolio-container #portfolio-content-container {
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  #portfolio-container #portfolio-content-container .title-container {
    padding-left: 10px;
    width: 50%;
  }
  #portfolio-container #portfolio-content-container .title-container .title {
    font-size: 25px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #portfolio-container #portfolio-content-container .title-container .description {
    font-size: 20px;
  }
  #portfolio-container #portfolio-content-container .image-container {
    width: 50%;
    display: flex;
    align-items: center;
  }
  #portfolio-container #portfolio-content-container .image-container img {
    width: 100%;
    height: 40%;
  }
  #portfolio-container .contact-us-section {
    padding-left: 7.5%;
    padding-right: 7.5%;
    text-align: start;
  }
}

#portfolio-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  height: 400px;
  justify-content: center;
}
#portfolio-content-container.row-reverse {
  flex-direction: row-reverse;
}
#portfolio-content-container .title-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
}
#portfolio-content-container .title-container .title {
  font-size: 40px !important;
}
#portfolio-content-container .title-container .description {
  font-size: 20px;
  color: #878584;
}
#portfolio-content-container .image-container {
  width: 30%;
  height: 100%;
}
#portfolio-content-container .image-container img {
  width: 100%;
  height: 100%;
}

#footer-container {
  height: 500px;
  background-color: #0a1d94;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#footer-container .top {
  height: 450px;
  display: flex;
  flex-direction: column;
}
#footer-container .top .logo-container {
  display: flex;
  justify-content: space-evenly;
}
#footer-container .top .logo-container img {
  height: 200px;
  width: 300px;
}
#footer-container .top .information-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#footer-container .top .information-container .contact-container {
  display: flex;
  flex-direction: column;
}
#footer-container .top .information-container .sertificates-container {
  display: flex;
  flex-direction: column;
}
#footer-container .top span {
  color: white;
  margin-bottom: 10px;
}
#footer-container .top span.data {
  font-size: 16px;
}
#footer-container .top span.title {
  font-size: 22px;
}
#footer-container .bottom {
  border-top: 0.003px solid white;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#footer-container .bottom span {
  color: white;
}
@media only screen and (max-width: 991px) {
  #footer-container {
    height: auto;
    text-align: center;
  }
  #footer-container .top {
    height: auto;
  }
  #footer-container .top .information-container {
    flex-direction: column;
  }
}

#personal-references-container {
  height: auto;
  width: 100%;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}
#personal-references-container .title {
  font-size: 48px !important;
  color: black;
  font-weight: bold;
}
#personal-references-container .name {
  font-size: 40px !important;
  color: black;
}
#personal-references-container .content {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  width: 100%;
}
#personal-references-container .content .img-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: left;
  width: 30%;
}
#personal-references-container .content .img-container img {
  width: 300px;
  height: 300px;
}
#personal-references-container .content .references-data-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  width: 60%;
}
#personal-references-container .content .references-data-container #reference-container {
  margin-bottom: 10px;
}
#personal-references-container .content .references-data-container #reference-container span.investor {
  font-size: 20px;
}
#personal-references-container .content .references-data-container #reference-container #project-by-investor-container p {
  white-space: initial;
  width: 90%;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
}

/*# sourceMappingURL=style.css.map */
